* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --main-font-color: rgb(182, 92, 18);
    --main-bc-color: rgb(248, 238, 230);
    --bc-color: rgb(196, 194, 193);
}

body {
    background-color: var(--main-bc-color);
    height: 100vh;
    width: 100vw;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 2fr 18fr 1fr / 1fr 3fr;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}

/* header-start */
.header {
    background-color: var(--bc-color);
    grid-area: header;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    border-bottom: 2px solid var(--main-font-color);
}

.header .logo {
    height: 3rem;
    height: 3rem;
    padding-left: 1rem;
}

.header .title {
    font-size: 3rem;
    letter-spacing: .1rem;
}

.header span {
    color: var(--main-font-color);
}
/* header-end */

/* sidebar-start */
.sidebar {
    grid-area: sidebar;
    background-color: var(--bc-color);
    padding: 1.2rem;
    border-right: 2px solid var(--main-font-color);
}

.sidebar form {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.sidebar form > div {
    display: flex;
    flex-flow: column nowrap;
    gap: .1rem;
}

.sidebar form > div > label {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: rgb(37, 37, 37);
}

.sidebar form > div > input {
    display: block;
    height: 1.8rem;
    border: 1px solid silver;
    border-radius: 4px;
    padding: 0.1rem;
    font-size: 1.2rem;
}

.sidebar form > div > input:focus {
    background-color: var(--main-bc-color);
    outline: none !important;
    border: 1px solid gray;
}

.sidebar form p {
    text-align: center;
    font-size: 1.2rem;
}

.sidebar form .read-row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sidebar form > div > input[type="checkbox"] {
    display: inline;
    width: 1.2rem;
}

.sidebar form button {
    color: white;
    font-size: 1.2rem;
    padding: .4em 1.4em;
    align-self: flex-start;
    background-color: var(--main-font-color);
    border: none;
    border-radius: 3px;
}

.sidebar form button:hover {
    background-color: rgb(145, 67, 4);
}
/* sidebar-end */

/* main-start */
.main {
    grid-area: main;
    padding: 0;
}

.main table {
    width: 100%;
    border: 1px solid var(--main-font-color);
    border-collapse: collapse;
}

.main table td {
    border: 1px solid var(--main-font-color);
    padding: 1rem;
}

.main table th {
    border: 1px solid var(--main-font-color);
    background-color: var(--bc-color);
    padding: 1rem;
    font-size: 1.1rem;
}

.remove-btn {
    color: white;
    font-size: 1.1rem;
    padding: .4em 1.2em;
    background-color: var(--main-font-color);
    border: none;
    border-radius: 3px;
}

.remove-btn:hover {
    background-color: rgb(145, 67, 4);
}

.status-btn {
    color: white;
    font-size: 1.1rem;
    padding: .4em 1.2em;
    background-color: var(--main-font-color);
    border: none;
    border-radius: 3px;
}

.status-btn:hover {
    background-color: rgb(145, 67, 4);
}
/* main-end */

/* footer-start */
footer {
    border-top: 2px solid var(--main-font-color);
    background-color: var(--bc-color);
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}
/* footer-end */
